<div class="container mt-5">

  <h1 class="mb-4">Détails de la tâche</h1>


  <ul class="list-group">
    <li class="list-group-item">
      <strong>Titre :</strong> <%= @task.title %>
    </li>
    <li class="list-group-item">
      <strong>Détails :</strong> <%= @task.details %>
    </li>
    <li class="list-group-item">
      <strong>Statut :</strong>
      <span class="badge bg-<%= @task.completed ? 'success' : 'warning' %>">
        <%= @task.completed ? 'Terminée' : 'En cours' %>
      </span>
    </li>
  </ul>


  <div class="mt-4">
    <%= link_to 'Retour à la liste', tasks_path, class: "btn btn-secondary me-2" %>
    <%= link_to 'Mettre à jour', edit_task_path(@task), class: "btn btn-primary" %>
  </div>
</div>
